header {
  width: 95%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  align-items: center;
}

nav {
  margin-top: 20px;
  /* position: fixed; */
}

nav ul {
  text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

nav li button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(237, 242, 247);
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

nav ul li button.active {
  color: #425bb5 !important;
}

#language-container {
  margin-left: 200px;
}

#language-container button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#theme-container button {
  width: 37.27px;
  height: 30px;
  margin-left: 3px;
}


#theme-container button svg {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

@media (max-width: 768px) {
  header {
    top: 140px;
    /* justify-content: center; */
    position: absolute;
    align-items: start;
  }
  nav {
    display: none;
  }

  #nav-mobile {
    margin-left: -25px;
  }

  #nav-mobile-tooggle {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .menu-burger {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 860px) {
  #language-container {
    margin-left: 70px;
  }
}
